# Maven/Gradle build
**/target/
**/build/
**/*.iml
**/volume-data
/docker/tempo/tempo-data/

# IntelliJ IDEA
.idea/
*.iws
*.ipr

# Eclipse/STS
.project
.classpath
.settings/

# VS Code
.vscode/

# Other
*.log
*.tmp

